# Spark Dataframe Example

In [ ]:
# Pandas related libraries also used with Spark
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Add following 3 cells to run Spark with Jupyter Notebook

In [ ]:
# Set up the environment for using pyspark
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
from pyspark.ml.linalg import Vectors

In [ ]:
# Create Application Context
spark = SparkSession.builder.appName("Dataframe Example").getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("Error")

## Create Dataframe from csv file

In [ ]:
# Read the dataset file which is in csv - comma separated values format
sdf = spark.read.format('csv').options(header='true', 
                                       inferSchema='true').load('../datasets/Mall_Customers.csv')

In [ ]:
# Print type of the variable
print(type(sdf))

## Dataframe Manipulations

In [ ]:
# Display schema
sdf.printSchema()

In [ ]:
# Show first 5 rows of data
sdf.head(5)

In [ ]:
# By default show will print the first 20 rows of the dataframe
sdf.show(5, truncate = False)

In [ ]:
# print shape - number of rows and columns
print('Rows: {} Columns: {}'.format(sdf.count(), len(sdf.columns)))

In [ ]:
# show the data types of each column
sdf.dtypes

## Statistical information

In [ ]:
# On all columns
sdf.describe().show()

In [ ]:
# By individual column
sdf.describe('Age').show()

## Accessing information in dataframe

In [ ]:
# Display Age and Genre
sdf.select('Age', 'Genre').show(5)

In [ ]:
# Get distinct age groups
sdf.select('Age').distinct().count()

In [ ]:
# Display the distinct values in Genre
sdf.select('Genre').distinct().show()

In [ ]:
# Get the count of males and females
sdf.groupBy('Genre').count().orderBy('count').show()

In [ ]:
# map Age and Gender and get counts
sdf.crosstab('Age', 'Genre').show(sdf.count())

In [ ]:
# Age > 50
sdf.filter(sdf.Age > 50).count()

In [ ]:
# Select by age and then provide mean for each age group
sdf.groupby('Age').agg({'Annual Income (k$)' : 'mean'}).show()

In [ ]:
# Correlation - provide quantitative measurements of the statistical dependence between two variables
sdf.stat.corr('Age', 'Annual Income (k$)')

## Convert to Pandas dataframe

In [ ]:
df_pd = sdf.toPandas()

In [ ]:
# pandas dataframe head by default show first 5 rows of dataframe
df_pd.head()

In [ ]:
# Tail shows the last n elements of dataframe. NO SUPPORT FOR tail IN SPARK DATAFRAME
# df_pd.tail()     # will show last 5 rows

df_pd.tail(10)

In [ ]:
df_pd.isnull().any()

In [ ]:
# similar to printing schema in Spark Dataframe
df_pd.info()

In [ ]:
# describe without parameter displays only numeric features
df_pd.describe()

In [ ]:
# describe for non numeric features use include parameter
df_pd.describe(include = 'O')

#### Convert the Spark Dataframe into Pandas Dataframe to plot - pyplot library is available in Spark to do plotting

In [ ]:
df_pd.plot.scatter(x = 'Age', y = 'Annual Income (k$)')
plt.show()