# Python Introduction
<h2>Topics Covered</h2>
<h3>
<ol>
    <li>Datastructures</li>
    <li>If else</li>
    <li>Functions</li>
</ol>
</h3>

### Strings

In [ ]:
"Is it wonderful?"

In [ ]:
'Is it wonderful?'

In [ ]:
"Isn't it wonderful!"

In [ ]:
# access string characters using index notation. The first character is at index position 0.
s = "string"
s[0]

<font color='red'><h4>Uncomment the code and execute the cell</h4></font>

In [ ]:
#s[5] = 'e'    # string is immutable, can't change it

### print()

In [ ]:
print("printed")

In [ ]:
"printed"

In [ ]:
# print formating
name = "Sam"
grade = 81
print("{} scored a grade of {} on the test.".format(name, grade))

### Lists

In [ ]:
# create a list using square brackets

[1,2,3,4,5]

In [ ]:
L = [1, 'two', 3, 4, 5]
L

In [ ]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

In [ ]:
L[1] = 2
L

In [ ]:
[96, 97] + [98, 99]

In [ ]:
[1,2,3]*2

### List slicing

In [ ]:
# start index : index - 1
L3 = [1,2,3,4,5]
L3[0:3]

In [ ]:
L3[3:]

In [ ]:
# use negatives to count from the end of the list
L3[-1]      # returns the last item

In [ ]:
# A second : can be used to indicate step-size. array[start:stop:stepsize]

L3[::-1]     # returns a reversed copy of the list

In [ ]:
L3

### Dictionaries

In [ ]:
d = {"key1": "Tim Mays", "key2": ["soccer", "2018"]}

In [ ]:
d["key1"]

In [ ]:
d["key2"][1]

In [ ]:
d["key3"] = "Olympics"
d

### Tuples

In [ ]:
tup = (1,2,3)
tup

In [ ]:
tup[:2]

<font color='red'><h4>Uncomment the code and execute the cell</h4></font>

In [ ]:
#tup[0] = 'new'     # immutable, will get an error

In [ ]:
num1, num2, num3 = [5,10,15]   # unpacking, assign multiple values at once
print(num2)

### Sets

In [ ]:
{1,2,3,1,2,3, None, None}

In [ ]:
a_set = set([5,10,15,10,5])
a_set

### if, elif, else Statements

In [ ]:
if True: 
    print("True")

In [ ]:
if 1: 
    print("True")

In [ ]:
if 0: 
    print("True")
else:
    print("False")

In [ ]:
if -100.63: 
    print("Really True!")

In [ ]:
city = "Palo Alto"

if city == "Palo Alto":
    print("Yes!")

In [ ]:
if 100 in [97, 98, 99]:
    print("Yes!")
elif "Dave" == "David":
    print("Maybe")
else:
    print("No!")

### Functions

In [ ]:
def function_name(parameters):
    pass

In [ ]:
# define the inches to cm  function
# conversion is inches * 2.54 
def in_to_cm(inches):   
    return inches * 2.54

In [ ]:
# call the function
in_to_cm(12)